*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;

}
a:any-link{
  color: white;

}

.Navbar{
  display: flex;
  flex-direction: row;

}
.Navbar li {
  list-style: none;
  text-decoration: none;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 5px;
}